/*  your css code here. If applicable */
/* body{
	disply: flex;
	justify-content: center;
	align-items: center;
} */
#card{
	width: 370px;
	height: 600px;
	background-color: #F3F3F3;
	padding: 20px;
	margin-left: 100px;
	margin-top: 40px;
	box-shadow: 2px 2px 10px grey;
}
img{
	width: 300px;
	margin-left: 35px;
	margin-top: 30px;
}
h1{
	text-align: center;
	font-size: 50px;
}
.price{
	text-align: center;
	font-size: 30px;
}
.description{
	text-align: center;
	font-size: 20px;
}
button{
	background-color: #EE7838;
	color: #fff;
	border-style: none;
	border-radius: 10px;
	width: 90px;
	height: 60px
}